<html>
  <head>
    <title></title>
    <style>
      #wrapper {
        margin:0 auto;
        width: 960px;
      }
      #header {
        border: 1px solid red;
        height: 200px;
      }
      #mainbody {
        border: 1px solid blue;
        height: 200px;
      }
      #footer {
        border: 1px solid green;
        height: 200px;
      }
    </style>
  </head>
  <body>
    <div id="wrapper">
      <div id="header"></div>
      <div id="mainbody">
        张三李四王五赵六
      </div>
      <div id="footer"></div>
    </div>
  </body>
</html>
